# This is used to filter the contents of generated source zip and tar files
# when a release is minted on github.
# Exclude .gitignore and similar internal git helpers.
.git* export-ignore
# Exclude internal helper scripts only relevant for development
bugweed.py export-ignore
bin/bugweed.py export-ignore
addheader.py export-ignore
bin/addheader.py export-ignore
futurizeall.py export-ignore
bin/futurizeall.py export-ignore
modernizeall.py export-ignore
bin/modernizeall.py export-ignore
makerelease.py export-ignore
bin/makerelease.py export-ignore
# Exclude legacy user projects and internal doc sources
user-projects export-ignore
doc-src export-ignore
