# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Daemon stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/

# Do not store current config and db
MiGserver.conf
MiG-users.db
daemon-rate-limit.db
job_id_counter
grid_script_laststart

# Do not store name pipes or state files like job queues, locks, maps or modified lists
*.stdin
*.pickle
*.pck
*.out
*.pem
*.lock
*.map
*.modified

state/mig_system_files/*.getupdatefiles
state/mig_system_files/*.sendupdatefiles
state/mig_system_files/*.getoutputfiles
state/mig_system_files/*.sendoutputfiles
state/mig_system_files/*.job
state/mig_system_files/*.interactivejob
state/mig_system_run/*

mig/install/generated-confs*

# LetsEncrypt domain verification
state/wwwpublic/.well-known/acme-challenge/*

# User data
state/user_db_home/*
state/user_home/*
state/user_settings/*
state/user_pending/*
state/vgrid_home/*
state/vgrid_files_home/*
state/vgrid_files_writable/*
state/vgrid_files_readonly/*
state/vgrid_public_base/*
state/vgrid_private_base/*
state/wwwpublic/vgrid/*
state/wwwpublic/vnc/*
state/sharelink_home/*
state/freeze_home/*
state/events_home/*
state/re_home/*
state/resource_home/*
state/vm_home/*
state/server_home/*
state/twofactor_home/*
state/openid_store/*
state/log/*
state/secrets/*

# Known site-specific symlinks
state/gdp_home/notifyemails.txt
state/wwwpublic/index.html
state/wwwpublic/cookie-policy.pdf
state/wwwpublic/site-privacy-policy.pdf
state/wwwpublic/status.html
state/wwwpublic/about-snippet.html
state/wwwpublic/support-snippet.html
state/wwwpublic/terms.html
state/wwwpublic/tips-snippet.html
state/wwwpublic/.well-known/security.txt
mig/images/site-conf.js

# VS Code
.vscode/

# Mac OSX noise
*.DS_Store
