[settings]
skip = bin/notifypassword.py,bin/checkconf.py,bin/createresource.py,sbin/grid_ftps.py,sbin/grid_openid.py,sbin/grid_sftp.py,sbin/grid_webdavs.py
skip_glob = .git/*,tests/data/*,tests/fixture/*
