# migrid dependencies on a format suitable for pip install as described on
# https://pip.pypa.io/en/stable/reference/requirement-specifiers/
# This list is mainly used to specify addons needed for the unit tests.
autopep8
black
isort
pylint
ruff
# We need paramiko for the ssh unit tests
paramiko
werkzeug
# We need pyOpenSSL for the FTPS service and related tlsserver unit tests
pyOpenSSL
