# migrid dependencies on a format suitable for pip install as described on
# https://pip.pypa.io/en/stable/reference/requirement-specifiers/
# This list is mainly used to specify addons needed for the unit tests.
autopep8
black
isort
pylint
ruff
# We need paramiko for the ssh unit tests
# IMPORTANT: there's a known security issue (CVE-2023-48795) in paramiko<3.4.0
#            as explained on https://www.paramiko.org/changelog.html#3.4.0
paramiko>=3.4.0
werkzeug
# We need pyOpenSSL for the FTPS service and related tlsserver unit tests
pyOpenSSL
