# migrid core dependencies on a format suitable for pip install as described on
# https://pip.pypa.io/en/stable/reference/requirement-specifiers/
future
# NOTE: python-3.6 and earlier versions require older pyotp, whereas 3.7+
#       should work with any modern version. We tested 2.9.0 to work.
pyotp;python_version >= "3"
pyotp<2.8;python_version > "3" and python_version < "3.7"
pyotp<2.4;python_version < "3"
pyyaml
# NOTE: python-2.7 requires older dnspython, whereas 3.x should work with any
#       modern version. We tested 2.6.1 to work.
# IMPORTANT: there's a known security issue (CVE-2023-29483) in dnspython<2.6.1
#            as explained on https://www.dnspython.org/news/2.6.1/
dnspython>=2.6.1;python_version >= "3"
# NOTE: one should use a patched 1.x version e.g. from RHEL/Rocky 8 if on python2
dnspython<2;python_version < "3"
# NOTE: python-3.6 and earlier versions require older email-validator, whereas
#       3.7+ should work with any modern version. We tested 2.2.0 to work.
email-validator;python_version >= "3.7"
email-validator<2.0;python_version >= "3" and python_version < "3.7"
email-validator<1.3;python_version < "3"

# NOTE: additional optional dependencies depending on site conf are listed
#       in recommended.txt and can be installed in the same manner by pointing
#       pip there.
