
.contentframe {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
	width:100%;
	height:90%;
}

#mycontent {
  background: white;
/*  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;*/
  padding: 8px; 
  width:90%;
  height:90%;
}

.status_summary{
	width:400px;
	/*height:40%;*/
	border:1px solid black;
	background-color: white;
	-moz-border-radius: 0.4em;
	padding: 1em;
	margin: 1em;
	text-align: left;
	font-size: 14;
	
}

#compile_output {
	width:400px;
	height:200px;
	border:0px solid black;
	background-color: silver;
	-moz-border-radius: 0.4em;
	padding: 2em;
	margin: 3em;
	
}


#submit_output {
	width:400px;
	/*height:40%;*/
	border:0px solid black;
	background-color: silver;
	-moz-border-radius: 0.4em;
	padding: 2em;
	margin: 3em;
	text-align: right;
}


#submit_form {
	
	width:400px;
	/*height:40%;*/
	border:1px solid black;
	background-color: white;
	-moz-border-radius: 0.4em;
	padding: 2em;
	margin: 3em;
	text-align: right;
	
}
#compile_form {
	
	width:400px;
	/*height:40%;*/
	border:1px solid black;
	background-color: white;
	-moz-border-radius: 0.4em;
	padding: 2em;
	margin: 3em;
	text-align: right;
	
}



input[name='process_name'] {
	right:20em;
	width : 300px;
	text-align: center;
}

input[name='num_jobs'] {
	
	width : 50px;
	text-align: right;
}



#info_dialog {
	/*width:80%;
	height:20%;*/
	border:0px solid black;
	background-color: white;
	opacity: 0.5;
}

#info_local {
	font: bold;
	color : red;
	display: inline; 
	border:0px solid white;
	background-color: white;
	/*opacity: 0.5;*/
}


.spinner {
background-image: url('/images/icons/spinner.gif');
background-repeat: no-repeat;
width:25px;
height:25px;
}


.proc_table {
text-align: left;
width:400px;
border:1px solid black;
background-color: white;
-moz-border-radius: 0.4em;
background-color: white;
padding: 1em;
margin: 1em;

float:left;
}	

table {
	font-size: 12;
/*	text-align: center;*/
}


label {
	left: auto;
/*width:100%;
float:left;*/
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  /*margin: 4px;*/
  list-style-type: none;
}




