::MIGUSER::
karlsen

::HOSTURL::
dido.imada.sdu.dk

::HOSTIDENTIFIER::
0

::RESOURCEHOME::
/home/karlsen/mig_frontend/dido.imada.sdu.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
256

::DISK::
10

::CPUCOUNT::
1

::NODECOUNT::
1

::ARCHITECTURE::
i386

::MINPRICE::
0

::RUNTIMEENVIRONMENT::
name: SCREENSAVER

::HOSTKEY::
dido.imada.sdu.dk,130.225.128.197 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEAnsPWvBERAUSI/2ichGpa29LTg2k3rxKJOSDMiVeGKdzHJjwT4vKqH2qfswzC7eZtgIk2tE5IcwMnH62uE9CoxCUsW73gHFQk7iqgsphD5vFBvtbH0prYU4e8YF5oYVIKZghXeSNo53NZaF9O9DyOmfb6CNElT+FJhRbKMmAqy40=

::FRONTENDNODE::
dido

::FRONTENDLOG::
/home/karlsen/mig_frontend/dido.imada.sdu.dk.0/frontendlog

::EXECONFIG::
exe #name
1 #nodecount
100 #cputime
"nice -19" #prepend_execute
/home/karlsen/mig_exe/dido.imada.sdu.dk.0/exehostlog #exehostlog
/home/karlsen/mig_exe/dido.imada.sdu.dk.0/joblog #joblog
karlsen #execution_user
dido #execution_node 
/home/karlsen/mig_exe/dido.imada.sdu.dk.0/ #execution_dir
cd /home/karlsen/mig_exe/dido.imada.sdu.dk.0/; chmod 700 master_node_script_exe.sh; ./master_node_script_exe.sh #start_exe 
not available #status_exe
pkill -9 master #stop_exe
True #continious
True #shared_fs
nytest #vgrid
