::MIGUSER::
miguser

::HOSTURL::
louis.grid.aau.dk

::RESOURCEHOME::
/grid/miguser/mig_frontend/louis.grid.aau.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
53248

::DISK::
10

::CPUCOUNT::
52

::NODECOUNT::
1

::ARCHITECTURE::
sun4u

::MINPRICE::
0

::RUNTIMEENVIRONMENT::

::HOSTKEY::
louis.grid.aau.dk,130.225.192.103 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEA1/2M0l8urL297duMAfdpNhk07+MKev0yLxwQYngqWxU12h1MAD5yHJ7XmVQcpBlZzpXuQOM+qp3kuLqbNq+pblxJaXt2+0gLuPNQ1F84Z89o2Yt3tnW7kzQL5eBKIM8zNvZodpKOWa09vuKfVk++uM7CIVxjsnwBkWrbz0r0ycE=

::FRONTENDNODE::
louis.grid.aau.dk

::FRONTENDLOG::
/grid/miguser/mig_frontend/louis.grid.aau.dk.0/frontend.log

::EXECONFIG::
XIV #name
1 #nodecount
60 #cputime
"nice -19" #prepend_execute
/grid/miguser/mig_exe/XIV/exehostlog #exehostlog
/grid/miguser/mig_exe/XIV/joblog #joblog
miguser #execution_user
louis.grid.aau.dk #execution_node 
/grid/miguser/mig_exe/XIV/ #execution_dir
/pack/torque/bin/qsub -N master_exe /grid/miguser/mig_exe/XIV/master_node_script_XIV.sh #start_exe 
exit \`/pack/torque/bin/qselect -N master_exe | wc -l\` #status_exe
/pack/torque/bin/qdel \$(/pack/torque/bin/qselect -N master_exe)  #stop_exe
True #continious
True #shared_fs

