::MIGUSER::
jonas

::HOSTURL::
mig-42.imada.sdu.dk

::RESOURCEHOME::
/home/jonas/mig_frontend/mig-42.imada.sdu.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
256

::DISK::
10

::CPUCOUNT::
1

::NODECOUNT::
1

::ARCHITECTURE::
i386

::MINPRICE::
0

::RUNTIMEENVIRONMENT::

::HOSTKEY::
mig-42.imada.sdu.dk,130.225.128.254 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEA5dDzq2Yal5BFz/DWk4BB8Vn6oIp3ua9SFDmBWWtOTAkYmT0LISA5U4ZGlUEC2qgIaZ3SYNG79vdPm9eBv/YsaK7rzIykHokMqxPAQzPmIJ/GO9f8zakknOmvaRNP/Ir4x95PL5+3HYNvT4mGZd0U/68319RRsyok3IX3gPuk5t0=

::FRONTENDNODE::
mig-42.imada.sdu.dk

::FRONTENDLOG::
/home/jonas/mig_frontend/mig-42.imada.sdu.dk.0/frontend.log

::CURLLOG::
/home/jonas/mig_frontend/mig-42.imada.sdu.dk.0/curl.log

::EXECONFIG::
mig-42.imada.sdu.dk #name
1 #nodecount
100 #cputime
"nice -19" #prepend_execute
/home/jonas/mig_exe/mig-42.imada.sdu.dk/exehostlog #exehostlog
/home/jonas/mig_exe/mig-42.imada.sdu.dk/joblog #joblog
jonas #execution_user
mig-42.imada.sdu.dk #execution_node 
/home/jonas/mig_exe/mig-42.imada.sdu.dk/ #execution_dir
cd /home/jonas/mig_exe/mig-42.imada.sdu.dk/; chmod 700 master_node_script_mig-42.imada.sdu.dk.sh; ./master_node_script_mig-42.imada.sdu.dk.sh #start_exe 
not available #status_exe
pkill -9 master #stop_exe
True #continious

