::MIGUSER::
jones

::HOSTURL::
mimi.imada.sdu.dk

::RESOURCEHOME::
/home/jones/mig_frontend/mimi.imada.sdu.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
256

::DISK::
10

::CPUCOUNT::
1

::NODECOUNT::
1

::ARCHITECTURE::
i386

::MINPRICE::
0

::RUNTIMEENVIRONMENT::

::HOSTKEY::
mimi.imada.sdu.dk,130.225.128.196 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEAqrRiGIsZgtwubK5u8kmT93INW1WnIH5EzXj4NkGt92lTDmdEYmQVxxpQsZIl4lmFnAyE0wMWM+JZ0mAfSJy7o4Q57LDMtOJaRm7XTsl1GQ2ceHbdD24s/lv1Vjz0BCHwdWJOBO5NQMxkW17Sst11aIW1UWL+0UmwJ3AVJVkp7nM=

::FRONTENDNODE::
mimi

::FRONTENDLOG::
/home/jones/mig_frontend/mimi.imada.sdu.dk.0/frontendlog

::EXECONFIG::
mimi #name
1 #nodecount
100 #cputime
"nice -19" #prepend_execute
/home/jones/mig_exe/mimi/exehostlog #exehostlog
/home/jones/mig_exe/mimi/joblog #joblog
jones #execution_user
mimi #execution_node 
/home/jones/mig_exe/mimi/ #execution_dir
cd /home/jones/mig_exe/mimi/; chmod 700 master_node_script_mimi.sh; ./master_node_script_mimi.sh #start_exe 
not available #status_exe
pkill -9 master #stop_exe
True #continious

