::MIGUSER::
mig

::HOSTURL::
pbs-template.imada.sdu.dk

::RESOURCEHOME::
/grid/miguser/mig_frontend/pbs-template.imada.sdu.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
4096

::DISK::
100

::CPUCOUNT::
128

::NODECOUNT::
1

::ARCHITECTURE::
amd64

::MINPRICE::
0

::RUNTIMEENVIRONMENT::

::HOSTKEY::
pbs-template.imada.sdu.dk,130.225.128.42 ssh-rsa AAAAB3NzaQ2yc2EAAASBIwAADIEAstGbT3sFyRZIB14pfpEtCYj4nOHXmPj3rM4V92YSXTSi3DA5JLOH2ahQNizxwOWP9ys4c6MXKbUGwuRafbzgS+qc3nYf47kjDS/05IS8DO4tshp2jGlxdstI+fdiG4T9FjD4GuXIvmgHxYMxhMEO2L+BZSZE8KUq88/EbDJb2Ps=

::FRONTENDNODE::
pbs-template.imada.sdu.dk

::FRONTENDLOG::
/grid/miguser/mig_frontend/pbs-template.imada.sdu.dk.0/frontend.log

::EXECONFIG::
PBS-host #name
1 #nodecount
120 #cputime
"nice -19" #prepend_execute
/grid/miguser/mig_exe/PBS-host/exehostlog #exehostlog
/grid/miguser/mig_exe/PBS-host/joblog #joblog
miguser #execution_user
pbs-host.imada.sdu.dk #execution_node 
/grid/miguser/mig_exe/PBS-host/ #execution_dir
/opt/torque/bin/qsub -N master_exe /grid/miguser/mig_exe/PBS-host/master_node_script_PBS-host.sh #start_exe 
exit \`/opt/torque/bin/qselect -N master_exe | wc -l\` #status_exe
/opt/torque/bin/qdel \$(/opt/torque/bin/qselect -N master_exe)  #stop_exe
True #continious
True #shared_fs

