::MIGUSER::
mig

::HOSTURL::
template.imada.sdu.dk

::RESOURCEHOME::
/home/mig/mig_frontend/template.imada.sdu.dk.0

::SCRIPTLANGUAGE::
sh

::MEMORY::
256

::DISK::
10

::CPUCOUNT::
1

::NODECOUNT::
1

::ARCHITECTURE::
i386

::MINPRICE::
0

::RUNTIMEENVIRONMENT::

::HOSTKEY::
template.imada.sdu.dk,130.225.128.42 ssh-rsa AAAAB3NzaQ2yc2EAAASBIwAADIEAstGbT3sFyRZIB14pfpEtCYj4nOHXmPj3rM4V92YSXTSi3DA5JLOH2ahQNizxwOWP9ys4c6MXKbUGwuRafbzgS+qc3nYf47kjDS/05IS8DO4tshp2jGlxdstI+fdiG4T9FjD4GuXIvmgHxYMxhMEO2L+BZSZE8KUq88/EbDJb2Ps=

::FRONTENDNODE::
template.imada.sdu.dk

::FRONTENDLOG::
/home/mig/mig_frontend/template.imada.sdu.dk.0/frontendlog

::EXECONFIG::
template #name
1 #nodecount
100 #cputime
"nice -19" #prepend_execute
/home/mig/mig_exe/template/exehostlog #exehostlog
/home/mig/mig_exe/template/joblog #joblog
mig #execution_user
template.imada.sdu.dk #execution_node 
/home/mig/mig_exe/template/ #execution_dir
cd /home/mig/mig_exe/template/; chmod 700 master_node_script_template.sh; ./master_node_script_template.sh #start_exe 
not available #status_exe
pkill -9 master #stop_exe
True #continious
True #shared_fs
