body {
	background: #ccc;
  background: transparent url('../images/pattern.png');
	color: #000;
	font-family: verdana, helvetica, serif, times;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a {
	color: #0b76AE;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

img {
	border:  0;
}

h1 {
  border: 1px solid darkgrey;
  -moz-border-radius: 4px;
  margin-top: 0;
  
  color: #eee;
  background: #eee url('../images/background.png');
  font-size: 16px;  

  padding: 4px;
}

h2 {
  border-bottom: 1px solid darkgrey;
  font-size: 14px;  
  padding: 2px;
}

h3 {
  border-bottom: 1px solid darkgrey;
  font-size: 16px;  
  padding: 3px;
}

div.container {
	width: 98%;
	margin: 1%;
}

th {

}

thead {

}

tbody {

}

tfoot {

}

table {
				background: #eee;
				border: 1px solid #000;
				width: 100%;
}

table.submitstatus { }

table.files { }
table.fileupload { }
table.stats { }
table.wc { }
table.jobs { padding: 2px; }
table.resubmit { }
table.changedjobstatus { }

table.vgrids { padding: 2px; }

table.resources { padding: 2px; }
table.sandboxlogintext { border: 0; background: #fff; }
table.sandboxlogin { background: #fff; width: auto; }
table.sandboxinfo { background: #fff; }
table.sandboxcreateimg { }

table.downloads { }

table.runtimeenvs { padding: 2px; }

table.runtimeenvdetails { padding: 2px; }
table.runtimeenvsw { border: 0; }
table.runtimeenventry { border: 0; }
table.runtimeenvvars { border: 0; }

table.monitor { font-size: 10px; }
table.monitorstats { }
table.monitorjobs { border: 0; }
table.monitorresreq { border: 0; }

table.monitorruntimeenvreq { border: 0; }

/* Navigational menu... */
.navmenu {
  background: #aaa url('../images/background_greypattern.png');
  width: 150px;
  float: left;

  -moz-border-radius-bottomright: 5px;
}

.navmenu ul {
	margin: 0;
	padding: 0px 0px 9px 7px;
}

.navsubmenu ul {
	margin: 0;
	padding: 0;
	margin-top: -10px;
}

.navmenu ul li, .navsubmenu ul li {
	margin-top: 10px;	
	list-style-type: none;
}

.navmenu ul li.dashboard a {  background-image: url('../images/icons/application.png'); }
.navmenu ul li.submitjob a {  background-image: url('../images/icons/cog_add.png'); }
.navmenu ul li.files a {  background-image: url('../images/icons/drive.png'); }
.navmenu ul li.jobs a {  background-image: url('../images/icons/cog.png'); }
.navmenu ul li.vgrids a {  background-image: url('../images/icons/folder.png'); }
.navmenu ul li.vmachines a {  background-image: url('../images/icons/computer.png'); }
.navmenu ul li.resources a {  background-image: url('../images/icons/server.png'); }
.navmenu ul li.downloads a {  background-image: url('../images/icons/download.png'); }
.navmenu ul li.runtimeenvs a {  background-image: url('../images/icons/database.png'); }
.navmenu ul li.settings a {  background-image: url('../images/icons/wrench.png'); }
.navmenu ul li.shell a {  background-image: url('../images/icons/application_osx_terminal.png'); }

.navmenu ul li a:hover, .navsubmenu ul li a:hover {	
	background-color: #369;
	color: white;
}

.navmenu ul  li a.selected {	
	background-color: #369;
	color: white;
}

.navmenu ul li a, .navsubmenu ul li a {
	-moz-border-radius:4px;
  display: block;
	
	background-repeat: no-repeat;
  background-image: url('../images/icons/bullet_black.png');
  background-position: 5px 50%;
  
  border:1px solid darkgrey;
  color: white;
  font-size:13px;
  font-weight:bold;
  padding:3px 5px 3px 24px;
  text-decoration:none;
	background-color: rgb(100,100,100);

	color: white;
  margin-right: 10px;
}

.navsubmenu ul li a {
	display: inline;
	float: left;
}

/* Used in one place... maybe that place should be fixed? to use h1 instead */
#migheader {
	font-size:28px;
	border: 0;
  -moz-border-radius: 4px;
  margin-top: 5px;
  
  color: #eee;
  background: #eee url('../images/background.png');
}

/* MiG logo */
#toplogo {
	background: url('../images/background.png');
  background-position: left;
  
  padding: 3px 0 3px 5px;

  font-size: 20px;
	font-weight: bold;
  font-variant: small-caps;

	color: white;
}

#toplogo div {
	background: url('../images/logorev2.gif') no-repeat;
	height: 100px;
}

.migtable {
  border: 1px solid darkgrey;
	width: 100%;
	border-spacing: 0;
}

#credits {
	background: #eee url('../images/background.png');
	/*font-family: Small Fonts, VT100, Arial, Helvetica;*/
	font-size: 10px;
	
	padding: 4px;
	text-align: right;
	margin: 0;
	border: 0;
	width: auto;
	color: white;
}

#credits a {
	color: white;
}

#content {
	background: white;
	border: 1px solid black;
	-moz-border-radius: 4px;
  margin: 5px;
  margin-left: 155px;
  padding: 3px; 
}

.migcontent { }

.rawtext {
	background: #fff;
	border: 0;
	padding: 5px;
	text-align: left;
}

.smallcontent{
	font-size: 10px;
}

.subsection{
	background: #ccc;
	padding: 5px;
	border:  0;
	font-size:17px;
	font-weight:bold;
  color: red;
	-moz-border-radius: 4px;
}
